{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
    <title>Bookhouse-book</title>
</head>
<body>
    {% for books in mybook %}
        <div>
            <h1>{{ books.title }}<h1>
            <h3>{{ books.author }}<h3>
            <p>{{books.subtitle}}</p>
            <p>{{books.price}}</p>
            <p>{{books.genre}}</p>
            <p>{{books.year}}</p>
            <p>{{books.description}}</p>
            <p>{{books.date}}</p>
        </div>              
        <br>
        <br>
    {% endfor %}        
</body>
</html>